.Auth {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    border-bottom: 2px solid #ddd;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .UserImg {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  .LogOut{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .Logado button{
    background-color: #fff;
    border: 2px solid rgb(21, 21, 21);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .Logado{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .NaoLogado{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

 .NaoLogado button {
    background-color: #dbdbdb;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(147, 147, 147);
    
  }
  .NaoLogado img {
    width: 50px;
    padding-top: 5px;
    
  }

  @media (max-width: 675px) {
    
    .LogOut{
      width: 20px;
      height: 20px;
      
    }
    .Logado button{
      border: 1px solid rgb(21, 21, 21);
    }
    .Auth {
      border-bottom: 1px solid #ddd;
    }
    .Logado{
      display: flex;
      flex-direction:row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .UserImg {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ccc;
    }
  }